@model klassycafe.Models.CONTACT
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row mt-2">
    <div class="col-12">
        <div class="card border-light">
            <div class="card-body">
                <h5>Settings</h5>
                <hr />
                <div class="row">
                    <div class="col-md-8">
                        @using (Html.BeginForm("EditContactForm", "Admin", FormMethod.Post))
                        {
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label>Phone</label>
                                        @Html.TextBoxFor(model => model.PHONE, new { @class = "form-control", type = "text", placeholder = "Phone" })
                                    </div>
                                    <div class="form-group mb-3">
                                        <label>Email</label>
                                        @Html.TextBoxFor(model => model.EMAIL, new { @class = "form-control", type = "text", placeholder = "Email" })
                                    </div>
                                    <div class="form-group mb-3">
                                        <label>Facebook</label>
                                        @Html.TextBoxFor(model => model.FACEBOOK, new { @class = "form-control", type = "text", placeholder = "Facebook" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label>Twitter</label>
                                        @Html.TextBoxFor(model => model.TWITTER, new { @class = "form-control", type = "text", placeholder = "Twitter" })
                                    </div>
                                    <div class="form-group mb-3">
                                        <label>Linkedin</label>
                                        @Html.TextBoxFor(model => model.LINKEDIN, new { @class = "form-control", type = "text", placeholder = "Linkedin" })
                                    </div>
                                    <div class="form-group mb-3">
                                        <label>Instagram</label>
                                        @Html.TextBoxFor(model => model.INSTAGRAM, new { @class = "form-control", type = "text", placeholder = "Instagram" })
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-12 justify-content-end">
                                    <div class="form-group mb-3">
                                        @Html.HiddenFor(model => model.ID)
                                        <button type="submit" class="btn btn-success">SAVE</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


